{
    "presets": [
        ["@babel/preset-env", {
            "forceAllTransforms": true
        }],
        ["@babel/preset-react"]
    ],
    "plugins": [
        ["styled-components", {
            "ssr": true,
            "displayName": true,
            "preprocess": true
        }],
        "@babel/plugin-proposal-class-properties",
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css" // `style: true` 会加载 less 文件
        }]
        // ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }]
    ]
}
