{
    "presets": [
        ["@babel/preset-env", {
            "forceAllTransforms": true,
            "useBuiltIns": "entry",
            "corejs": 3
        }],
        ["@babel/react"]
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
    ]
}
